/* Define Colors palette */
@mixin color_palette {
  --green: #00ebc7;
  --red: #ff5470;
  --yellow: #fde24f;
  --black: #1b2d45;
  --darkBlue: #00214d;
  --darkGrey: #222;
  --grey: #bfbfbf;
  --lightGrey: #f2f4f6;
  --white: #fff;
}

/* Define Colors intentions */
@mixin color_intentions {
  --primary: var(--green);
  --danger: var(--red);
  --background: var(--lightGrey);
  --textColor: var(--black);
  --buttonTextColor: var(--black);
  --lineColor: var(--grey);
  --cardBg: var(--white);
  --headerBackground: var(--darkBlue);
  --footerBackground: var(--black);
}

.dark {
  --cardBg: var(--darkGrey);
  --background: var(--black);
  --textColor: var(--lightGrey);
  --headerBackground: var(--darkGrey);
  --buttonTextColor: var(--black);
  --footerBackground: var(--darkGrey);
}
