$greyMap: (
  25: #fcfcfd,
  50: #f9fafb,
  100: #f2f4f7,
  200: #e4e7ec,
  300: #d0d5dd,
  400: #98a2b3,
  500: #667085,
  // 600: #475467,
  700: #344054,
  800: #1d2939,
  900: #101828
);

@mixin greyColorPallet {
  @each $size, $color in $greyMap {
    --grey#{$size}: #{$color};
  }
}

$purpleMap: (
  25: #fcfaff,
  50: #f9f5ff,
  100: #f4ebff,
  // 200: #E9D7FE,
  300: #d6bbfb,
  // 400: #B692F6,
  500: #9e77ed,
  600: #7f56d9,
  700: #6941c6,
  800: #53389e,
  900: #42307d
);

@mixin purpleColorPallet {
  @each $size, $color in $purpleMap {
    --purple#{$size}: #{$color};
  }
}

$redMap: (
  25: #fffbfa
);
// 50:  #FEF3F2,
// 100: #FEE4E2,
// 200: #FECDCA,
// 300: #FDA29B,
// 400: #F97066,
// 500: #F04438,
// 600: #D92D20,
// 700: #B42318,
// 800: #912018,
// 900: #7A271A);

@mixin redColorPallet {
  @each $size, $color in $redMap {
    --red#{$size}: #{$color};
  }
}

$yellowMap: (
  // 25:  #FFFCF5,
  // 50:  #FFFAEB,
  100: #fef0c7
);
// 200: #FEDF89,
// 300: #FEC84B,
// 400: #FDB022,
// 500: #F79009,
// 600: #DC6803,
// 700: #B54708,
// 800: #93370D,
// 900: #7A2E0E);

@mixin yellowColorPallet {
  @each $size, $color in $yellowMap {
    --yellow#{$size}: #{$color};
  }
}

$greenMap: (
  // 25:  #F6FEF9,
  // 50:  #ECFDF3,
  100: #d1fadf
);
// 200: #A6F4C5,
// 300: #6CE9A6,
// 400: #32D583,
// 500: #12B76A,
// 600: #039855,
// 700: #027A48,
// 800: #05603A,
// 900: #054F31);

@mixin greenColorPallet {
  @each $size, $color in $greenMap {
    --green#{$size}: #{$color};
  }
}
