@mixin font_base {
  font-family: 'InterVariable', 'Segoe UI', 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

@mixin font_spacing {
  letter-spacing: normal;
  word-spacing: normal;
}

@mixin display_2xl {
  font-size: 4.5rem;
  line-height: 5.625rem;
}

@mixin display_xl {
  font-size: 3.75rem;
  line-height: 4.625rem;
}

@mixin display_lg {
  font-size: 3rem;
  line-height: 3.75rem;
}

@mixin display_md {
  font-size: 2.25rem;
  line-height: 2.75rem;
}

@mixin display_sm {
  font-size: 1.875rem;
  line-height: 2.375rem;
}

@mixin display_xs {
  font-size: 1.5rem;
  line-height: 2rem;
}

@mixin text_xl {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

@mixin text_lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@mixin text_md {
  font-size: 1rem;
  line-height: 1.5rem;
}

@mixin text_sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@mixin text_xs {
  font-size: 0.75rem;
  line-height: 1.125rem;
}
